.banner{
        max-width: 1024px;
        height: 400px;    
        background-image: url(../image/banner.jpeg);
        background-size: cover;
        display:flex;
        align-items:center;      
}

.texto{ 
    color: #fff;
    margin-left: 50px;  
}
img{
    width: 400px;
    height: auto;
  
}


@media screen and (max-width:1024px) {
    .banner{
        height: auto;
        flex-direction: column;  
          
    }

    img{
        width: 100%;
       margin: auto;  
    }
    .texto{
        width: 100%;
        margin: auto;
    }
}
