.banner{
        width: 1024px;
        height: 400px;
        margin: 0 auto;
        background-image: url(../image/banner.jpeg);
        background-size: cover;
        display:flex;
        align-content: center;
}

.texto{
   
    color: #fff;
    margin-left: 50px;

    
}
.img-banner{

    width: 500px;
    height: 330px;
    
    margin-right: 50px;
    
      
}
